$color-primary: #299d91;
$color-primary-hover: #25897d;
$color-secondary: #525256;
$color-secondary-hover: #424246;

$color-black: #191919;
$color-white: #ffffff;

$color-red-1: #b91c1c;
$color-red-2: #fbf2f2;

$color-gray-1: #666666;
$color-gray-2: #878787;
$color-gray-3: #9f9f9f;
$color-gray-4: #d1d1d1;
$color-gray-5: #f5f5f5;

